# Ignore the 'emotion' directory
emotion/

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env

# Ignore virtual environment directories
env/
venv/

# Ignore any local IDE/project files
.vscode/
.idea/
*.swp

# Ignore other temporary files
*.tmp
*.bak
*.old
